<div class="row my-5">
  <div class="col-md-12">
    <div class="d-block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered( $event )"
              (chartClick)="chartClicked( $event )"></canvas>
    </div>
    <button class="btn btn-outline-primary btn-block my-4"
            (click)="randomize()"> CLICK to update data </button>
  </div>
</div>
